version: '3.8'

services:
  db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    image: wordpress:latest
    depends_on:
      - db
    ports:
      - "8500:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - wp_data:/var/www/html
      # Mount the plugin directly into the WordPress plugins directory
      - ./woocommerce-tweaks:/var/www/html/wp-content/plugins/woocommerce-tweaks

  cli:
    image: wordpress:cli
    depends_on:
      - db
      - wordpress
    volumes:
      - wp_data:/var/www/html
      - ./woocommerce-tweaks:/var/www/html/wp-content/plugins/woocommerce-tweaks
      - ./provision.sh:/provision.sh
      - ./setup-store.php:/setup-store.php
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
    user: root # Run as root to avoid permission issues when installing plugins
    command: /bin/bash /provision.sh

volumes:
  db_data:
  wp_data:
